<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.course">
    <select id="getUserCount" resultType="integer">
        select count(*) from user
    </select>

<!--    <select id="queryAll" >-->
<!--        select * from user-->
<!--    </select>-->

<!--    <select id="queryOne" >-->
<!--        select * from user-->
<!--        where user_name = #{userName}-->
<!--    </select>-->

    <insert id="addUser">
       INSERT INTO user (user_id, user_name, password, email,status)
       VALUES
       (#{userId}, #{userName}, #{password}, #{email},#{status})
    </insert>

    <update id="updateUser">
       UPDATE user SET
       user_name = #{userName} ,
       password = #{password},
       email = #{email},
       status = #{status}
       WHERE
       user_id = #{userId}
    </update>
    <delete id="deleteUser">
        delete from user
        where user_name = #{userName}
    </delete>

</mapper>